<style>
	#descrip{
		height: 100px;
		text-overflow: ellipsis;
		overflow: auto;
		white-space: normal;
	}
	.category-column{
		width: 8%;
		border-right: 1px solid rgb(221,221,221);
	}	
</style>



<div class = "container-fluid">
    <h2>{{collectible.name}}</h2>
    <div class="table-responsive" id="collect-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Collectible Detail View</th>
            </tr>
            </thead>
            <tbody>
            
            <tr>
                <td class = "category-column">
                    <span>Description</span>
                </td>
                <td>
                    <div id="descrip" class="form-control-static">{{collectible.description}}</div>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Age</span>
                </td>
                <td>
                    <span class="form-control-static">{{collectible.age}}</span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Catalogue Number</span>
                </td>
                <td>
                    <span class="form-control-static">{{collectible.cataloguenumber}}</span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Category</span>
                </td>
                <td>
                    <span class="form-control-static" ui-sref="category.detail({id:collectible.category.id})">{{collectible.category.category}}</span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Condition</span>
                </td>
                <td>
                    <span class="form-control-static" ui-sref="condition.detail({id:collectible.condition.id})">{{collectible.condition.condition}}</span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Color</span>
                </td>
                <td>
                    <span ng-repeat="color in collectible.colors">
                        <span class="form-control-static" ui-sref="color.detail({id: {{color.id}}})">{{color.color}}</a>{{$last ? '' : ', '}}</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Keyword 1</span>
                </td>
                <td>
                    <span ng-repeat="keyword1 in collectible.keyword1s">
                        <span class="form-control-static" ui-sref="keyword.detail({id: {{keyword1.id}}})">{{keyword1.keyword}}</a>{{$last ? '' : ', '}}</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Keyword 2</span>
                </td>
                <td>
                    <span ng-repeat="keyword2 in collectible.keyword2s">
                        <span class="form-control-static" ui-sref="keyword.detail({id: {{keyword2.id}}})">{{keyword2.keyword}}</a>{{$last ? '' : ', '}}</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>Keyword 3</span>
                </td>
                <td>
                    <span ng-repeat="keyword3 in collectible.keyword3s">
                        <span class="form-control-static" ui-sref="keyword.detail({id: {{keyword3.id}}})">{{keyword3.keyword}}</a>{{$last ? '' : ', '}}</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class = "category-column">
                    <span>For Sale</span>
                </td>
                <td>
                    <span class="form-control-static" ui-sref="forsale.detail({id:collectible.forsale.id})">{{collectible.forsale.forsale}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
