<div>
    <h2>Archive</h2>
    <jh-alert></jh-alert>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>Name</span></th>
                    <th><span>Description</span></th>
                    <th><span>Age</span></th>
                    <th><span>Catalogue Number</span></th>
                    <th><span>Category</span></th>
                    <th><span>Condition</span></th>
                    <th><span>Color</span></th>
                    <th><span>Keyword 1</span></th>
                    <th><span>Keyword 2</span></th>
                    <th><span>Keyword 3</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="collectible in collectibles track by collectible.id">
                    <td><a ui-sref="collectible.detail({id:collectible.id})">{{collectible.name}}</a></td>
                    <td>{{collectible.description}}</td>
                    <td>{{collectible.age}}</td>
                    <td>{{collectible.cataloguenumber}}</td>
                    <td>
                        {{collectible.category.category}}
                    </td>
                    <td>
                        {{collectible.condition.condition}}
                    </td>
                    <td>
                        <span ng-repeat="color in collectible.colors">
                            {{color.color}}{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <span ng-repeat="keyword1 in collectible.keyword1s">
                            {{keyword1.keyword}}{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <span ng-repeat="keyword2 in collectible.keyword2s">
                            {{keyword2.keyword}}{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        <span ng-repeat="keyword3 in collectible.keyword3s">
                            {{keyword3.keyword}}{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td>
                        {{collectible.forsale.forsale}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
